<%= nested_form_for(@estabelecimento) do |f| %>
  <% if @estabelecimento.errors.any? %>
    <div class="alert alert-danger">
      Erros de validação:

      <ul>
      <% @estabelecimento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :nome %><br>
        <%= f.text_field :nome, class: 'form-control'%>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-10">
      <div class="form-group">
        <%= f.label :endereco, 'Endereço' %><br>
        <%= f.text_field :endereco, class: 'form-control'%>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :numero, 'Número' %><br>
        <%= f.text_field :numero, class: 'form-control'%>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :bairro %><br>
        <%= f.text_field :bairro, class: 'form-control'%>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :cidade %><br>
        <%= f.text_field :cidade, class: 'form-control'%>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :estado %><br>
        <%= f.text_field :estado, class: 'form-control'%>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :email, 'E-Mail' %><br>
        <%= f.text_field :email, class: 'form-control'%>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :site %><br>
        <%= f.text_field :site, class: 'form-control'%>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :fanpage %><br>
        <%= f.text_field :fanpage, class: 'form-control'%>
      </div>
    </div>

  </div>

  <div class="form-group">
    <%= f.label :estacionamento, "Estacionamento" %> <br/>
    <%= f.text_field(:estacionamento, class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= f.label :selos %> <br/>
    <% Selo.all.each do |selo| %>
      <label class="checkbox-inline">
        <%= f.check_box(:selos, {:multiple => true}, selo, nil) %> <i class="<%= selo.classe_css %>"></i> <%= selo.nome %>
      </label>
    <% end %>
  </div>

  <%# Usar estrategia do field for %>
  <div class="form-group">
    <%= f.label :horarios, "Horários" %> <br/>
    <%= f.fields_for :horario_estabelecimentos do |horario_form| %>
      <%= render partial: "new_horario", locals: { form: horario_form } %>
    <% end %>
    <%= f.link_to_add "Adicionar", :horario_estabelecimentos,
                                    class: 'btn btn-danger margin-top-1' %>
  </div>


  <div class="actions margin-top-3">
    <%= f.submit 'Salvar', class: 'btn btn-danger'%>
    <%= link_to 'Voltar', estabelecimentos_path, class: 'btn btn-default' %>
  </div>

<% end %>
