<div>

  <div class="row margin-top-1">
    <%= form.hidden_field :id %>

    <div class="col-xs-2">
      <%= form.text_field :hora_inicial, class: 'form-control hora', placeholder: "Início de Funcionamento" %>
    </div>

    <div class="col-xs-2">
      <%= form.text_field :hora_final, class: 'form-control hora', placeholder: "Termino de Funcionamento" %>
    </div>

    <div class="col-xs-2">
      <%= combo_dias_semana form, :dia %>
    </div>

    <div class="col-xs-2">
      <%= form.link_to_remove "Remover", class: 'btn btn-danger' %>
    </div>

  </div>

</div>
