<%= fields_for :horario do |horario_form| %>

  <div class="row nested">

    <div class="col-xs-2">
      <%= horario_form.text_field :hora_inicial, class: 'form-control', placeholder: "Início de Funcionamento" %>
    </div>

    <div class="col-xs-2">
      <%= horario_form.text_field :hora_final, class: 'form-control', placeholder: "Termino de Funcionamento" %>
    </div>

    <div class="col-xs-2">
      <%= combo_dias_semana :horario, :dia %>
    </div>

    <div class="col-xs-2">
      <%= horario_form.button "Adicionar", class: 'btn btn-danger nested-add-button' %>
    </div>

  </div>

<% end %>
