<!DOCTYPE html>
<html>
<head>
  <title>Viva em Fortaleza!</title>

  <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= render file: 'layouts/menu' %>

<div id="template" class="container">
  <%= yield %>
</div>

<div class="modal fade" id="modal-window" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="dialog">
    <div class="modal-content">
      
    </div>
  </div>
</div>

</body>
</html>
